@{
    ViewData["Title"] = "Home";
}

@*@{
        Layout = null;
    }*@

@*<div class="text-center">
        <h1 class="display-4">  </h1>

    </div>*@
@*<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@

<!-- Optional theme -->
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/Landing.css" />

    </head>
    <body>
        <div class="leftlogo"> </div>

        <div class="bgimg-1">
            <div class="caption">
                <span class="border">FULL PAGE</span><br>
                <span class="border">BACKGROUND IMAGE</span>
            </div>
        </div>
        <div class="container" style="position:absolute;top:0" >
            <div class="row">
                <div class="formarea">

                    <div class="col-md-8 col-sm-8 col-xs">
                    <input type="button" class="btn btn-danger" />
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <input type="button" class="btn btn-danger" />

                        <div class="Heading" style="margin-top:50px">
                            <h1>Admin Login</h1>
                            <small>Welcome ! Please Login to your Account</small>
                        </div>

                        <div class="inputArea" style="margin-top:15px">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control blk" style="background-color: #72A4D2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="chris@sample.com">

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Password</label>
                                    <input type="password" class="form-control blk" id="password" placeholder="******">

                                </div>
                            </form>
                        </div>*@
@* Link Section *@
@*<div>
                            <a id="forgot-password" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot your password?</a>

                            <label class="checkbox-inline ml-0 pull-right">
                                <input type="checkbox" value="">Remember me
                            </label>
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <input type="submit" class="btn btn-success" value="Login" />
                        </div>

                    </div>
                    </div>

                </div>
            </div>

        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
    </html>*@ 